@mixin flex($jc, $ai: flex-start, $gap: 0, $rowGap: 0, $direction: row,	$wrap: no-wrap )
	display: flex
	flex-direction: $direction
	justify-content: $jc
	align-items: $ai
	flex-wrap: $wrap
	gap: $gap
	row-gap: $rowGap

@mixin size($width, $height)
	width: $width
	height: $height

@mixin border($width, $color, $radius)
	border: $width solid $color
	border-radius: $radius

@mixin font($fz, $fw: 400, $color, $lh: 1, $ls: 1)
	font-size: $fz
	font-weight: $fw
	color: $color
	line-height: $lh
	letter-spacing: $ls

@mixin container
	.container
		position: relative
		@include size(1200px, 100%)
		@include flex(start, start, 0, 0, column)
		padding: 0 20px
		padding-top: 100px

@media screen and (max-width: 1200px)
	.container
		width: 100vw !important

